<div class="main-content">
    <mat-grid-list cols="5" *ngIf="!showError">
        <mat-grid-tile *ngFor="let client of clientList">
            <mat-card class="client-card">
                <mat-card-content>
                    {{client.name}} <button mat-icon-button color="primary" (click)="viewBills(client)"><mat-icon>receipt_long</mat-icon></button>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
    <ng-container *ngIf="showError">
        <h3>{{errorMessage}}</h3>
    </ng-container>
</div>